<!DOCTYPE html>
<html>
<head lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{{ static_url('css/index.css') }}">
    <title></title>
    <style>
    </style>
</head>
<body>
    <img class="background" src="{{ static_url('images/background.jpg') }}" />
    <div id="content">
        <h1 class="item">Make a Wish</h1>
         <div style="...">
            <form action="" method="post">
                <p>
                    <textarea style="..." class="wishes" name="content" id="" cols="80" rows="5" placeholder="写上你的愿望">
                    </textarea>
                </p>
                <p>
                    <input class="user" type="text" name="name" style="..."  placeholder="落款">
                </p>
                <p>
                    <input class="btn3" type="submit" value="提交" style="...">
                </p>
            </form>
        </div>

    </div>
</body>
</html>